@page "/listadoUsuarios"
@using BlazorApp1.Data
@inject UsuarioService Service

<h3>Listado De Usuarios</h3>

<p>Se listarán los usuarios: </p>

if(usuarios = null){
<p>Cargando...</p>
}
else{
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Clave</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var p in usuarios)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.nombre</td>
                <td>@p.clave</td>
            </tr>
        }
    </tbody>
</table>
}

@code {

    private List<Usuario> usuarios;

    protected override async Task OnInitializedAsync()
    {
        usuarios = await Service.getAll();
    }
}